<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      <div class="row">
        <div id="news-content" class="col-md-12">
          <h2>Latest Mars News</h2>
          <h3>{{ mars_info.news_title }}</h3>
          <p>{{ mars_info.news_p }}</p>
        </div>
      </div>
      <div class="row">
        <div id="fimage-weather-facts-content" class="col-md-12">
            <div id="featured_image" class="col-md-8">
                <h4>Featured Mars Image</h4>
                <img src="{{ mars_info.featured_image_url }}" alt="Featured Image">
            </div>
                
            <div id="mars_table" class="col-md-4">
                <h4>Current Weather on Mars</h4>
                <p>{{ mars_info.mars_weather}}</p>
                <h5>Mars Facts</h5>
                <table>{{ mars_info.mars_html_table }}</table>
            </div>
        </div>
  </div>
</body>

</html>
